h1{
    padding-top: 1%;
    text-align: center;
    font-size: 40px;
    
}

h2{
    text-align: center;
    font-size: 30px; 
    font-weight: bold;

}

.texte{
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: center;
}

.contener{
    border:1px dotted black;  
    text-align: center; 
}
.image{
    background-color: aquamarine;
}

.question{
    font-size: 30px;
    font-weight: bold;
}

span{
    display: block;
    font-size: 25px;
    font-weight: bold;
}

#theme{
    display:block;
}
#difficulte{
    display:none;
}
/*.valider {
    width: 50px;
    height: 30px;
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
}
.valider:hover {
background: #016ABC;
color: #fff;
border: 1px solid #eee;
border-radius: 20px;
box-shadow: 5px 5px 5px #eee;
text-shadow:none;
}*/

button {
    display: inline-block;
    background-color: #fafafa;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
 }
button:hover {
    background-color: #2bc505;
}
button:hover span {
    padding-right: 25px;
}
button:hover span:after {
    opacity: 1;
    right: 0;
}
#texte{
    text-align: justify;
}

    